{% extends "base.html" %}
{% load leaflet_tags %}
{% load humanize %}
{% load static %}

{% block body_js %}
{% endblock %}

{% block content %}
<h2>Your active walks</h2>

<table>
    <tr><th>Name</th><th>Start</th><th>End</th><th>Steps</th></tr>
    {% for object in object_list %}
    <tr><td><a href="{{object.get_absolute_url}}">{{object}}</a></td><td>{{object.start_date|date:"Y m d"}}</td><td>{% if object.end_date %}{{object.end_date}}{% else %}&mdash;{% endif %}</td><td>???</td></tr>
    {% endfor %}
</table>

{% endblock %}

