{% extends "base.html" %}
{% load leaflet_tags %}
{% load humanize %}
{% load static %}

{% block head_js %}
{% leaflet_js %}
{% leaflet_css %}

<script type="text/javascript" src="{% static 'Leaflet.awesome-markers/dist/leaflet.awesome-markers.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-providers/leaflet-providers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/leaflet.polylineDecorator.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}">

<script type="text/javascript">
    function map_init_basic (map, options) {
        L.tileLayer.provider('HERE.terrainDay', {
            app_id: '{{ESRI_ID}}',
            app_code: '{{ESRI_CODE}}'
        }).addTo(map);
        L.tileLayer.provider('Esri.NatGeoWorldMap').addTo(map);
        L.tileLayer.provider('Stamen.TonerLines').addTo(map);
        var completedMarker = L.AwesomeMarkers.icon({
            icon: 'coffee',
            markerColor: 'green'
        });
        var currentMarker = L.AwesomeMarkers.icon({
            icon: 'glass',
            markerColor: 'red'
        });
        var upcomingMarker = L.AwesomeMarkers.icon({
            icon: 'home',
            markerColor: 'blue'
        });

        {% for wp in object.waypoint_set.all %}
        var {{wp.js_slug}} = new L.LatLng({{wp.lat_long}});
        L.marker({{wp.js_slug}}, {icon: currentMarker}).addTo(map);

        {% if wp.previous_point %}
        var {{wp.js_slug}}_prev = new L.LatLng({{wp.previous_point.lat_long}});
        var pt_list_{{forloop.counter}} = [{{wp.js_slug}}, {{wp.js_slug}}_prev];

        {% if wp.previous_point.order < object.last_waypoint.order %}
        var list_{{forloop.counter}} = new L.Polyline(pt_list_{{forloop.counter}}, {color: 'green',weight: 5,opacity: 1,smoothFactor: 1});
        {% else %}
        var list_{{forloop.counter}} = new L.Polyline(pt_list_{{forloop.counter}}, {color: 'white',weight: 5,opacity: 1,smoothFactor: 1});
        {% endif %}
        {% comment %}}
        {% if wp.previous_point == object.last_waypoint %}
        var animatedMarker = L.animatedMarker(list_{{forloop.counter}}.getLatLngs(), {
              distance: {{object.meters}},  // meters
              interval: 2000, // milliseconds
        });
        map.addLayer(animatedMarker);
        {% endif %}
        {% endcomment %}

        list_{{forloop.counter}}.addTo(map);

        {% endif %}

        {% endfor %}
    }
</script>
{% endblock %}


{% block body_js %}
{% endblock %}

{% block content %}

    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
            {% if not user.is_authenticated %}
	        <h3>Fitness challenges for your business or organization.</h3>
            <p>To get started, you're going to need to <a href="{% url 'account_login' %}">login</a> or <a href="/accounts/register/">create an account</a></p>
            {% else %}
            <h2>{{object}}</h2>
            <p><b>Participants:&nbsp;</b>{% for p in object.participants.all %}<a href="{{p.get_absolute_url}}">{{p}}</a>{% if p in object.admins.all %}*{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p>Congratulations, your team has walked: {{object.miles|floatformat|apnumber|intcomma}} miles!</p>
            <p>Next stop, {{object.last_waypoint.next_point.title}}{% if object.last_waypoint.next_point.description%}, {{object.last_waypoint.next_point.description}}{% endif %}!</p>
            {% endif %}
      	</div>
        {% if user.is_authenticated %}
        <a class="button " href="#" data-reveal-id="checkinModal">Check In</a> 
        {% if user in object.admins.all %}<a class="button " href="#" data-reveal-id="inviteModal">Invite Folks</a> {% endif %}
        {% if user in object.admins.all %}<a class="button " href="{% url 'walk-update' object.slug %}">Edit Walk</a> {% endif %}
        <a class="button " href="#" data-reveal-id="statusModal">Status</a> 
        <a class="button " href="{% url 'account_logout' %}">Log out</a>
        <div id="checkinModal" class="reveal-modal" data-reveal style="z-index:2000; width:500px;"> 
            <div ic-target="checkin">
                <h2>You've been walking, eh?</h2> 
                <p class="lead">Well go ahead, update your progress here.</p> 
                <form method="post" id="checkin" ic-post-to="{% url 'walk-checkin' object.slug %}">{% csrf_token %}
                    <label>How many steps have you put on the old dogs?</label>
                    <p><input type="text" name="steps" /></p>
                    <p><input type="submit" class="button radius expand" value="Save" /></p>
                </form>
            </div>
            <a class="close-reveal-modal">&#215;</a> 
        </div>
        <div id="statusModal" class="reveal-modal" data-reveal style="z-index:2000; width:500px;"> 
            <div ic-target="status">
            <h2>Look at what you did!</h2> 
            <p class="lead"><b>Total steps:</b> {{status.total_steps}}</p> 
            <p class="lead"><b>Total miles:</b> {{status.miles}}</p> 
            </div>
            <a class="close-reveal-modal">&#215;</a> 
        </div>
        <div id="inviteModal" class="reveal-modal" data-reveal style="z-index:2000; width:500px;"> 
            <div ic-target="#invite">
                <h2>Why walk alone?</h2> 
                <p class="lead">Drop an email address here and we'll send out an ivitation, toute suite.</p> 
                <form method="post" id="invite" ic-post-to="{% url 'walk-invite' object.slug %}">{% csrf_token %}
                    <label>Email</label>
                    <p><input type="text" name="email" /></p>
                    <p><input type="submit" class="button radius expand " value="Send" /></p>
                </form>
            </div>
            <a class="close-reveal-modal">&#215;</a> 
        </div>
        {% else %}
        <a class="button " href="{% url 'account_signup' %}" >Sign Up</a> 
        <a class="button " href="{% url 'account_login' %}" >Log In</a> 
        <a class="button " href="#about" >About</a> 
        {% endif %}
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
      </div>
    </div>

{% endblock %}
