{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load floppyforms %}
{% load formset_tags %}

{% block body_js %}
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
{% endblock %}

{% block content %}
<h2>Edit {{object}}</h2>

<form method="post">{% csrf_token %}

{% form form %}

<h3>Waypoints</h3>
<div data-formset-body>
    {% form waypoint_form %}
</div>
<br/><br/>
<input class="button" type="submit" value="Save">
</form>

{% endblock %}

