{% extends "base.html" %}
{% load leaflet_tags %}
{% load humanize %}
{% load static %}

{% block head_js %}
{% leaflet_js %}
{% leaflet_css %}

<script type="text/javascript" src="{% static 'Leaflet.awesome-markers/dist/leaflet.awesome-markers.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-providers/leaflet-providers.js' %}"></script>
<link rel="stylesheet" href="{% static 'Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}">

<script type="text/javascript">
    function map_init_basic (map, options) {
        L.tileLayer.provider('HERE.terrainDay', {
            app_id: '{{ESRI_ID}}',
            app_code: '{{ESRI_CODE}}'
        }).addTo(map);
        L.tileLayer.provider('Esri.NatGeoWorldMap').addTo(map);
        L.tileLayer.provider('Stamen.TonerLines').addTo(map);
        var completedMarker = L.AwesomeMarkers.icon({
            icon: 'coffee',
            markerColor: 'blue'
        });
        var currentMarker = L.AwesomeMarkers.icon({
            icon: 'home',
            markerColor: 'green'
        });
        var upcomingMarker = L.AwesomeMarkers.icon({
            icon: 'home',
            markerColor: 'red'
        });

        {% for wp in walks.0.waypoint_set.all %}
        var {{wp.js_slug}} = new L.LatLng({{wp.lat_long}});
        L.marker({{wp.js_slug}}, {icon: currentMarker}).addTo(map);

        {% if wp.previous_point %}
        var {{wp.js_slug}}_prev = new L.LatLng({{wp.previous_point.lat_long}});
        var pt_list_{{forloop.counter}} = [{{wp.js_slug}}, {{wp.js_slug}}_prev];

        {% if wp.previous_point == progress.last_waypoint %}
        var list_{{forloop.counter}} = new L.Polyline(pt_list_{{forloop.counter}}, {color: 'green',weight: 5,opacity: 1,smoothFactor: 1});
        var animatedMarker = L.animatedMarker(list_{{forloop.counter}}.getLatLngs(), {
              distance: 10000,  // meters
                interval: 1102000, // milliseconds
        });
        map.addLayer(animatedMarker);
        {% else %}
        var list_{{forloop.counter}} = new L.Polyline(pt_list_{{forloop.counter}}, {color: 'white',weight: 5,opacity: 1,smoothFactor: 1});
        {% endif %}

        list_{{forloop.counter}}.addTo(map);
        {% endif %}

        {% endfor %}
    }
</script>
{% endblock %}


{% block body_js %}
{% endblock %}

{% block content %}

    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
            {% if not user.is_authenticated %}
	        <h3>Fitness challenges for your business or organization.</h3>
            <p>To get started, you're going to need to <a href="{% url 'account_login' %}">login</a> or <a href="/accounts/signup/">create an account</a></p>
            {% else %}
            <h3>Your challenges:</h3>
            {% endif %}
      	</div>
        {% if user.is_authenticated %}
        <a class="button " href="#" data-reveal-id="checkinModal">Check In</a> 
        {% if user in walks.0.admins.all %}<a class="button " href="#" data-reveal-id="inviteModal">Invite Folks</a> {% endif %}
        {% if user in walks.0.admins.all %}<a class="button " href="{% url 'walk-update' walks.0.slug %}">Edit Walk</a> {% endif %}
        <a class="button " href="#" >Status</a> 
        <a class="button " href="{% url 'account_logout' %}">Log out</a>
        <div id="checkinModal" class="reveal-modal" data-reveal style="z-index:2000; width:500px;"> 
            <div ic-target="checkin">
            <h2>You've been walking, eh?</h2> 
            <p class="lead">Well go ahead, update your progress here.</p> 
            <label>How many steps have you put on the old dogs?</label>
            <form method="post" id="checkin" ic-post-to="{% url 'walk-checkin' walks.0.slug %}">{% csrf_token %}
            <p><input type="text" name="steps" /></p>
            <p><input type="submit" class="button radius expand" value="Save" />&nbsp;&nbsp; or <a class="" href="javascript:void(0);" id="cancel">cancel</a></p>
            </div>
            <a class="close-reveal-modal">&#215;</a> 
        </div>
        <div id="inviteModal" class="reveal-modal" data-reveal style="z-index:2000; width:500px;"> 
            <div ic-target="#invite">
            <h2>Why walk alone?.</h2> 
            <p class="lead">Drop an email address here and we'll send out an ivitation, toute suite.</p> 
            <label>Email</label>
            <form method="post" id="invite" ic-post-to="{% url 'walk-invite' walks.0.slug %}">{% csrf_token %}
            <p><input type="text" name="email" /></p>
            <p><input type="submit" class="button radius expand " value="Send" />&nbsp;&nbsp; or <a class="" href="javascript:void(0);" id="cancel">cancel</a></p>
            </div>
            </form>
            <a class="close-reveal-modal">&#215;</a> 
        </div>
        {% else %}
        <a class="button " href="{% url 'account_signup' %}" >Sign Up</a> 
        <a class="button " href="{% url 'account_login' %}" >Log In</a> 
        <a class="button " href="#about" >About</a> 
        {% endif %}
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
      </div>
    </div>

{% endblock %}
