.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.leaflet-container {  /* all maps */
  width:  850px;
  height: 500px;
}

#specialbigmap {
  height: 800px;
}

h1 { margin:0.5em auto 0 auto; }
